body {
    font-size: 14pt;
    width: 680px;
    margin: auto;
    color: #444;
    text-align: justify;
    background: url(../images/zwartevilt.png);
}

.content, header {
    padding: 48px 32px 32px 32px;
    background-color: white;
}

header {
    text-align: center;
    border-bottom: 1px dashed #aaa;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

img {
    vertical-align: middle;
}