body {
    font-size: 14pt;
    width: 640px;
    margin: auto;
    color: #333;
}

.content, header {
    padding: 48px 16px 32px 12px;
}

header {
    text-align: center;
    border-bottom: 1px dashed #aaa;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}